<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <header>
        <h1>Donezo</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h3>Maddog Creations</h3>
    </footer>
</body>
</html>